# Python virtual environment
venv/

# Compiled Python files
*.pyc

# Python cache
__pycache__/

# Environment variables
.env

# IDE files
.vscode/
.idea/
*.iml

# Dependency directories
node_modules/
bower_components/

# Build files
# Ignore data directories
data/
text/